<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <img
        src="assets/strawberry.svg"
        alt="Home"
        id="logo"
        (click)="navigateTo('')"
      />
      <i
        class="fa-solid fa-book"
        slot="end"
        (click)="navigateTo('journal')"
      ></i>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <h1>Account Settings</h1>
    <div class="user-info">
      <img
        *ngIf="userProfileImage"
        [src]="userProfileImage"
        alt="User Profile"
        class="user-profile-image"
      />
      <div class="user-details">
        <h2>{{ userName }}</h2>
        <h3>{{ userEmailAddress }}</h3>
      </div>
    </div>
    <p>{{ mealsLogged }} meals logged</p>
    <p>{{ averageCalories | number:'1.0-0' }} average calories</p>
    <h2>Share Journal</h2>
    <div class="input-container">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Search by name or email"
        (keyup.enter)="searchUsers()"
      />
      <i class="fa-solid fa-magnifying-glass" (click)="searchUsers()"></i>
    </div>
    <div *ngIf="searchResults.length > 0">
      <h3>Search Results:</h3>
      <ul>
        <li *ngFor="let user of searchResults">
          {{ user.displayName || user.email || user.username }}
        </li>
      </ul>
    </div>
    <ion-button expand="block" (click)="logout()">Logout</ion-button>
  </div>
</ion-content>
