<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <img
        src="assets/strawberry.png"
        alt="Home"
        id="logo"
        (click)="navigateTo('')"
      />
      <ion-icon
        name="journal-outline"
        slot="end"
        (click)="navigateTo('journal')"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <h1>Account Settings</h1>
    <div class="user-info">
      <img
        *ngIf="userProfileImage"
        [src]="userProfileImage"
        alt="User Profile"
        class="user-profile-image"
      />
      <div class="user-details">
        <h2>{{ userName }}</h2>
        <h3>{{ userEmailAddress }}</h3>
      </div>
    </div>
  </div>
</ion-content>
