ion-toolbar {
  --background: transparent;
  position: absolute;

  img {
    height: 30px;
    margin: 1vw;

    &:hover {
      cursor: pointer;
    }
  }
}

.split-screen {
  display: flex;
  height: 100%;
}

.left-side {
  flex: 1;
  background-color: #1a2f3a;
  max-width: 40vw;
  overflow: auto;
}

.right-side {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-background);
  overflow: auto;

  ion-card {
    color: var(--theme-primary);
    border: 2px solid var(--theme-primary);
    width: 80%;
    max-width: 25vw;
    min-width: 300px;

    ion-card-header {
      --background: var(--theme-secondary);

      ion-card-title {
        text-align: center;
        color: var(--theme-primary);
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    ion-card-content {
      background-color: var(--theme-secondary);

      ion-item {
        --background: var(--theme-secondary);
        --border-color: var(--theme-primary);
        --highlight-color-focused: var(--theme-primary);

        ion-label,
        ion-input {
          color: var(--theme-primary);
          --highlight-color-focused: var(--theme-primary);
        }
      }

      ion-button {
        color: var(--theme-secondary);
        --background: var(--theme-primary);
        font-weight: bold;
        margin-top: 30px;
      }

      .account-text {
        color: var(--theme-primary);
        text-decoration: underline;
        text-align: center;
        margin-top: 20px;

        ion-text {
          a {
            color: var(--theme-primary);
          }
        }
      }

      #loginButton img {
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}
