ion-toolbar {
  --background: transparent;
  position: absolute;

  img {
    height: 30px;
    margin: 1vw;

    &:hover {
      cursor: pointer;
    }
  }
}

.split-screen {
  display: flex;
  height: 100%;
}

.left-side {
  flex: 1;
  background-color: #1a2f3a;
  max-width: 40vw;
  overflow: auto;
}

.right-side {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-background);
  overflow: auto;

  ion-card {
    border-radius: 15px;
    width: 80%;
    max-width: 25vw;
    min-width: 300px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);

    ion-card-header {
      --background: var(--theme-container-bg-dark);

      ion-card-title {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    ion-card-content {
      background-color: var(--theme-container-bg-dark);

      ion-item {
        --background: var(--theme-container-bg-dark);

        ion-label,
        ion-input {
          color: white;
        }
      }

      ion-button {
        color: var(--theme-container-bg-dark);
        --background: white;
        font-weight: bold;
        margin-top: 30px;
      }

      .account-text {
        color: white;
        text-decoration: underline;
        text-align: center;
        margin-top: 20px;

        ion-text {
          a {
            color: white;
          }
        }
      }

      #loginButton img {
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}
