ion-toolbar {
  --background: transparent;
  position: absolute;

  img {
    height: 30px;
    margin: 1vw;

    &:hover {
      cursor: pointer;
    }
  }
}

.split-screen {
  display: flex;
  height: 100%;
}

.left-side {
  flex: 1;
  background-color: #1a2f3a;
  max-width: 40vw;
  overflow: auto;
}

.right-side {
  flex: 1;
  background-color: var(--theme-background);
  overflow: auto;
}
