<ion-content>
  <div class="layout">
    <div class="sidebar">
      <img
        src="assets/strawberry.png"
        alt="Home"
        id="logo"
        (click)="navigateTo('')"
      />
      <img
        [src]="userProfileImage"
        alt="User Profile"
        class="user-profile-image"
        (click)="navigateTo('account')"
      />
    </div>
    <div class="main-content">
      <div class="filter-container">
        <ion-item lines="none">
          <ion-datetime-button datetime="filterDate"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="filterDate"
                presentation="date"
                [(ngModel)]="dateSelected"
                (ionChange)="onDateChange()"
              >
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </div>
      <div class="table-wrapper">
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Meal Name</th>
                <th>Calories</th>
                <th>Carbs</th>
                <th>Protein</th>
                <th>Fats</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let entry of journalEntries">
                <tr (click)="entry.showPrompt = !entry.showPrompt">
                  <td>{{ entry.summary }}</td>
                  <td class="calories">{{ entry.calories }}</td>
                  <td class="carbs">{{ entry.carbs }}</td>
                  <td class="protein">{{ entry.proteins }}</td>
                  <td class="fats">{{ entry.fats }}</td>
                  <td>{{ entry.formattedMealTime }}</td>
                </tr>
                <tr *ngIf="entry.showPrompt">
                  <td colspan="6" class="prompt-cell">{{ entry.prompt }}</td>
                </tr>
              </ng-container>
            </tbody>
            <tfoot>
              <tr>
                <td><strong>Total</strong></td>
                <td>{{ totalCalories }}</td>
                <td>{{ totalCarbs }}</td>
                <td>{{ totalProteins }}</td>
                <td>{{ totalFats }}</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="chart-container">
        <canvas
          baseChart
          class="chart"
          [data]="pieChartData"
          [type]="pieChartType"
          [options]="pieChartOptions"
        ></canvas>
      </div>
    </div>
  </div>
</ion-content>
