.layout {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 60px;
  height: 100%;
  background-color: var(--theme-background);
}

ion-toolbar {
  --background: var(--theme-primary);
  margin: 5px;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  img {
    height: 30px;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-background);
  padding: 10vw;
  padding-bottom: 150px;

  h1 {
    color: var(--theme-primary);
    font-weight: bold;
    margin-bottom: 2.5px;
    text-align: center;
  }

  h3 {
    color: var(--theme-primary);
    margin-top: 2.5px;
    margin-bottom: 20px;
  }
}
