<ion-content>
  <div class="layout">
    <div class="sidebar">
      <img
        src="assets/strawberry-secondary.svg"
        alt="Home"
        id="logo"
        (click)="navigateTo('')"
      />
      <i class="fa-solid fa-circle-info" slot="start" id="open-popover"></i>
      <i
        class="fa-solid"
        [ngClass]="displayMode === 'numbers' ? 'fa-hashtag' : 'fa-percent'"
        (click)="toggleDisplayMode()"
      ></i>
      <ion-popover [keepContentsMounted]="true" trigger="open-popover">
        <ng-template>
          <ion-content class="ion-padding">
            Track your meals throughout the day by logging them through the meal
            page. Click the row of the meal to see the prompt that generated it,
            and click 'Remove' to delete it. The pie chart at the bottom shows
            the macronutrient breakdown of your meals.
          </ion-content>
        </ng-template>
      </ion-popover>
      <img
        [src]="userProfileImage"
        alt="User Profile"
        class="user-profile-image"
        (click)="navigateTo('account')"
      />
    </div>
    <div class="main-content">
      <div class="filter-container">
        <ion-item lines="none">
          <div class="calendar-group">
            <i class="fa-regular fa-calendar"></i>
            <ion-datetime-button datetime="filterDate"></ion-datetime-button>
          </div>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="filterDate"
                presentation="date"
                [(ngModel)]="dateSelected"
                (ionChange)="onDateChange()"
              >
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </div>

      <div class="table-wrapper">
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Meal Name</th>
                <th>Calories</th>
                <th>
                  Carbs {{ displayMode === 'percentages' ? '(%)' : '(g)' }}
                </th>
                <th>
                  Protein {{ displayMode === 'percentages' ? '(%)' : '(g)' }}
                </th>
                <th>
                  Fats {{ displayMode === 'percentages' ? '(%)' : '(g)' }}
                </th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let entry of journalEntries; let i = index">
                <tr (click)="entry.showPrompt = !entry.showPrompt">
                  <td>{{ entry.summary }}</td>
                  <td class="calories">{{ entry.calories }}</td>
                  <td class="carbs">
                    <ng-container *ngIf="displayMode === 'numbers'">
                      {{ entry.carbs }}
                    </ng-container>
                    <ng-container *ngIf="displayMode === 'percentages'">
                      {{ entry.carbsPercent | number: '1.0-1' }}%
                    </ng-container>
                  </td>
                  <td class="protein">
                    <ng-container *ngIf="displayMode === 'numbers'">
                      {{ entry.proteins }}
                    </ng-container>
                    <ng-container *ngIf="displayMode === 'percentages'">
                      {{ entry.proteinsPercent | number: '1.0-1' }}%
                    </ng-container>
                  </td>
                  <td class="fats">
                    <ng-container *ngIf="displayMode === 'numbers'">
                      {{ entry.fats }}
                    </ng-container>
                    <ng-container *ngIf="displayMode === 'percentages'">
                      {{ entry.fatsPercent | number: '1.0-1' }}%
                    </ng-container>
                  </td>
                  <td>{{ entry.formattedMealTime }}</td>
                </tr>
                <tr *ngIf="entry.showPrompt" class="prompt-row">
                  <td colspan="6" class="prompt-cell">
                    <div>{{ entry.prompt }}</div>
                    <button
                      class="detail-button"
                      (click)="favoriteEntry(entry, $event)"
                    >
                      <i class="fa-solid fa-star"></i>Favorite
                    </button>
                    <button class="detail-button">
                      <i class="fa-solid fa-pen"></i>Edit
                    </button>
                    <button
                      class="detail-button"
                      (click)="deleteEntry(entry, $event)"
                    >
                      <i class="fa-solid fa-trash"></i>
                      Remove
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
            <tfoot>
              <tr>
                <td><strong>Total</strong></td>
                <td>{{ totalCalories }}</td>
                <td>
                  <ng-container *ngIf="displayMode === 'numbers'">
                    {{ totalCarbs }}
                  </ng-container>
                  <ng-container *ngIf="displayMode === 'percentages'">
                    {{ totalCarbsPercent | number: '1.0-1' }}%
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="displayMode === 'numbers'">
                    {{ totalProteins }}
                  </ng-container>
                  <ng-container *ngIf="displayMode === 'percentages'">
                    {{ totalProteinsPercent | number: '1.0-1' }}%
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="displayMode === 'numbers'">
                    {{ totalFats }}
                  </ng-container>
                  <ng-container *ngIf="displayMode === 'percentages'">
                    {{ totalFatsPercent | number: '1.0-1' }}%
                  </ng-container>
                </td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="chart-container">
        <canvas
          baseChart
          class="chart"
          [data]="pieChartData"
          [type]="pieChartType"
          [options]="pieChartOptions"
        ></canvas>
      </div>
    </div>
  </div>
</ion-content>
