<ion-toolbar>
  <img
    src="assets/strawberry.svg"
    alt="Home"
    id="logo"
    slot="start"
    (click)="navigateTo('')"
  />
  <div class="filter-container" slot="start">
    <ion-item lines="none">
      <div class="date-filter" (click)="openDatePicker()">
        <i class="fa-regular fa-calendar"></i>
        <ion-datetime-button datetime="filterDate"></ion-datetime-button>
      </div>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="filterDate"
            presentation="date"
            [(ngModel)]="dateSelected"
            (ionChange)="onDateChange()"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item lines="none" *ngIf="sharedUsers.length > 0">
      <div class="user-filter">
        <i class="fa-solid fa-user-group"></i>
        <ion-select [(ngModel)]="selectedUser" (ionChange)="onUserChange()">
          <ion-select-option value="Me">Me</ion-select-option>
          <ion-select-option
            *ngFor="let user of sharedUsers"
            [value]="user.uid"
          >
            {{ user.username }}
          </ion-select-option>
        </ion-select>
      </div>
    </ion-item>
  </div>
  <i
    *ngIf="isMobile"
    class="fa-solid"
    [ngClass]="nutrientIcons[selectedNutrient]"
    slot="end"
    (click)="cycleNutrient()"
  ></i>
  <i
    class="fa-solid"
    [ngClass]="displayMode === 'numbers' ? 'fa-hashtag' : 'fa-percent'"
    slot="end"
    (click)="toggleDisplayMode()"
  ></i>
  <img
    [src]="userProfileImage"
    alt="User Profile"
    class="user-profile-image"
    slot="end"
    (click)="navigateTo('account')"
  />
</ion-toolbar>

<ion-content fullscreen>
  <div class="main-content" [class.no-entries]="journalEntries.length === 0">
    <ng-container *ngIf="journalEntries.length > 0; else noEntries">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Meal Name</th>
              <th *ngIf="!isMobile || selectedNutrient === 'calories'">
                Calories
              </th>
              <th *ngIf="!isMobile || selectedNutrient === 'carbs'">
                Carbs {{ displayMode === 'percentages' ? '(%)' : '(g)' }}
              </th>
              <th *ngIf="!isMobile || selectedNutrient === 'proteins'">
                Protein {{ displayMode === 'percentages' ? '(%)' : '(g)' }}
              </th>
              <th *ngIf="!isMobile || selectedNutrient === 'fats'">
                Fats {{ displayMode === 'percentages' ? '(%)' : '(g)' }}
              </th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let entry of journalEntries; let i = index">
              <ng-container *ngIf="!entry.isEditing">
                <tr (click)="toggleEntryPrompt(entry)">
                  <td>{{ entry.summary }}</td>
                  <td
                    *ngIf="!isMobile || selectedNutrient === 'calories'"
                    class="calories"
                  >
                    {{ entry.calories }}
                  </td>
                  <td
                    *ngIf="!isMobile || selectedNutrient === 'carbs'"
                    class="carbs"
                  >
                    <ng-container *ngIf="displayMode === 'numbers'">
                      {{ entry.carbs }}
                    </ng-container>
                    <ng-container *ngIf="displayMode === 'percentages'">
                      {{ entry.carbsPercent | number: '1.0-1' }}%
                    </ng-container>
                  </td>
                  <td
                    *ngIf="!isMobile || selectedNutrient === 'proteins'"
                    class="protein"
                  >
                    <ng-container *ngIf="displayMode === 'numbers'">
                      {{ entry.proteins }}
                    </ng-container>
                    <ng-container *ngIf="displayMode === 'percentages'">
                      {{ entry.proteinsPercent | number: '1.0-1' }}%
                    </ng-container>
                  </td>
                  <td
                    *ngIf="!isMobile || selectedNutrient === 'fats'"
                    class="fats"
                  >
                    <ng-container *ngIf="displayMode === 'numbers'">
                      {{ entry.fats }}
                    </ng-container>
                    <ng-container *ngIf="displayMode === 'percentages'">
                      {{ entry.fatsPercent | number: '1.0-1' }}%
                    </ng-container>
                  </td>
                  <td>{{ entry.formattedMealTime }}</td>
                </tr>
                <tr *ngIf="entry.showPrompt" class="prompt-row">
                  <td colspan="6" class="prompt-cell">
                    <div>{{ entry.prompt }}</div>
                    <ng-container *ngIf="selectedUser === 'Me'">
                      <button
                        class="detail-button"
                        (click)="favoriteEntry(entry, $event)"
                      >
                        <i
                          [ngClass]="{
                                'fa-solid': entry.isFavorite,
                                'fa-regular': !entry.isFavorite,
                                'fa-star': true
                              }"
                        ></i>
                        {{ entry.isFavorite ? 'Favorited' : 'Favorite' }}
                      </button>
                      <button
                        class="detail-button"
                        (click)="editEntry(entry, $event)"
                      >
                        <i class="fa-solid fa-pen"></i>Edit
                      </button>
                      <button
                        class="detail-button"
                        (click)="deleteEntry(entry, $event)"
                      >
                        <i class="fa-solid fa-trash"></i>
                        Remove
                      </button>
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="entry.isEditing">
                <tr class="edit-row">
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="entry.editValues.summary"
                      (keydown.enter)="saveEntry(entry, $event)"
                    />
                  </td>
                  <td
                    *ngIf="!isMobile || selectedNutrient === 'calories'"
                    class="calories"
                  >
                    <input
                      type="number"
                      [(ngModel)]="entry.editValues.calories"
                      (keydown.enter)="saveEntry(entry, $event)"
                    />
                  </td>
                  <td
                    *ngIf="!isMobile || selectedNutrient === 'carbs'"
                    class="carbs"
                  >
                    <input
                      type="number"
                      [(ngModel)]="entry.editValues.carbs"
                      (keydown.enter)="saveEntry(entry, $event)"
                    />
                  </td>
                  <td
                    *ngIf="!isMobile || selectedNutrient === 'proteins'"
                    class="protein"
                  >
                    <input
                      type="number"
                      [(ngModel)]="entry.editValues.proteins"
                      (keydown.enter)="saveEntry(entry, $event)"
                    />
                  </td>
                  <td
                    *ngIf="!isMobile || selectedNutrient === 'fats'"
                    class="fats"
                  >
                    <input
                      type="number"
                      [(ngModel)]="entry.editValues.fats"
                      (keydown.enter)="saveEntry(entry, $event)"
                    />
                  </td>
                  <td>
                    <input
                      type="time"
                      [(ngModel)]="entry.editValues.mealTime"
                      (keydown.enter)="saveEntry(entry, $event)"
                    />
                  </td>
                </tr>
                <tr class="edit-actions-row">
                  <td [attr.colspan]="getTotalColumns()" class="prompt-cell">
                    <button
                      class="detail-button"
                      (click)="saveEntry(entry, $event)"
                    >
                      <i class="fa-solid fa-save"></i>Save
                    </button>
                    <button
                      class="detail-button"
                      (click)="cancelEditEntry(entry, $event)"
                    >
                      <i class="fa-solid fa-times"></i>Cancel
                    </button>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
          <tfoot>
            <tr>
              <td><strong>Total</strong></td>
              <td *ngIf="!isMobile || selectedNutrient === 'calories'">
                {{ totalCalories }}
              </td>
              <td *ngIf="!isMobile || selectedNutrient === 'carbs'">
                <ng-container *ngIf="displayMode === 'numbers'">
                  {{ totalCarbs }}
                </ng-container>
                <ng-container *ngIf="displayMode === 'percentages'">
                  {{ totalCarbsPercent | number: '1.0-1' }}%
                </ng-container>
              </td>
              <td *ngIf="!isMobile || selectedNutrient === 'proteins'">
                <ng-container *ngIf="displayMode === 'numbers'">
                  {{ totalProteins }}
                </ng-container>
                <ng-container *ngIf="displayMode === 'percentages'">
                  {{ totalProteinsPercent | number: '1.0-1' }}%
                </ng-container>
              </td>
              <td *ngIf="!isMobile || selectedNutrient === 'fats'">
                <ng-container *ngIf="displayMode === 'numbers'">
                  {{ totalFats }}
                </ng-container>
                <ng-container *ngIf="displayMode === 'percentages'">
                  {{ totalFatsPercent | number: '1.0-1' }}%
                </ng-container>
              </td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </ng-container>

    <ng-template #noEntries>
      <div class="no-entries-container">
        <img
          src="assets/nomeal.svg"
          alt="No Meal Entries"
          class="no-meal-image"
        />
      </div>
    </ng-template>

    <div
      class="bottom-content"
      [class.no-entries]="journalEntries.length === 0"
    >
      <div class="chart-container" *ngIf="journalEntries.length > 0">
        <canvas
          baseChart
          class="chart"
          [data]="pieChartData"
          [type]="pieChartType"
          [options]="pieChartOptions"
        ></canvas>
      </div>
      <div class="add-meal" *ngIf="selectedUser === 'Me'">
        <h2>Add a Meal</h2>
        <div class="input-wrapper">
          <input
            type="text"
            [(ngModel)]="newMealDescription"
            placeholder="What else did you eat?"
            (keydown.enter)="addNewMeal()"
            [disabled]="isLoadingNewMeal"
          />
          <ng-container *ngIf="!isLoadingNewMeal">
            <ion-icon name="arrow-up" (click)="addNewMeal()"></ion-icon>
          </ng-container>
          <ng-container *ngIf="isLoadingNewMeal">
            <ion-spinner name="dots"></ion-spinner>
          </ng-container>
        </div>
        <ion-item lines="none">
          <ion-label>Favorites</ion-label>
          <ion-select
            [(ngModel)]="selectedFavoriteMeal"
            (ionChange)="onFavoriteMealSelected()"
            interface="action-sheet"
          >
            <ion-select-option
              *ngFor="let favorite of favoriteMeals"
              [value]="favorite"
            >
              {{ favorite.summary }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>
