.layout {
  display: flex;
  height: 100%;
  background-color: var(--theme-background);
}

.sidebar {
  width: 60px;
  margin: 7px;
  height: calc(100% - 14px);
  background: var(--theme-primary);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#logo {
  height: 30px;
  cursor: pointer;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-background);
  padding-top: 20px;
  position: relative;

  .filter-container {
    display: flex;
    flex-direction: row;

    ion-item {
      --background: transparent;
      --inner-padding-end: 0px;

      ion-datetime-button::part(native) {
        background-color: transparent;
        font-size: min(5vw, 2em);
        font-weight: bold;
        padding: 12px;
      }
    }
  }

  h1 {
    color: var(--theme-primary);
    font-weight: bold;
    margin-bottom: 2.5px;
    text-align: center;
  }

  h3 {
    color: var(--theme-primary);
    margin-top: 2.5px;
    margin-bottom: 20px;
  }
}

.table-container {
  padding: 2rem;
  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 8px;
    }

    th {
      text-align: left;
      color: var(--theme-primary);
    }

    thead tr {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;
        height: 1px;
        background-color: var(--theme-primary);
      }
    }

    tbody tr {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;
        height: 1px;
        background-color: var(--theme-primary);
      }

      &:hover {
        background-color: var(--theme-primary);
        color: var(--theme-secondary);
        cursor: pointer;
      }

      &:hover .color-one {
        background-color: rgba(255, 99, 71, 1);
      }

      &:hover .color-two {
        background-color: rgba(70, 130, 180, 1);
      }

      &:hover .color-three {
        background-color: rgba(50, 205, 50, 1);
      }

      &:hover td:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:hover td:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.color-one {
  background-color: rgba(255, 99, 71, 0.4);
}

.color-two {
  background-color: rgba(70, 130, 180, 0.4);
}

.color-three {
  background-color: rgba(50, 205, 50, 0.4);
}
