<ion-content>
  <div *ngIf="!mealSubmitted" class="centered-content">
    <img src="assets/strawberry.png" alt="Strawberry!" id="logo" />
    <ion-item>
      <ion-textarea
        placeholder="What did you eat?"
        [autoGrow]="true"
        [(ngModel)]="meal"
        (keyup.enter)="submitMeal($event)"
        [disabled]="isLoading"
      ></ion-textarea>
      <ion-icon
        name="arrow-up"
        slot="end"
        (click)="submitMeal($event)"
      ></ion-icon>
    </ion-item>
  </div>
  <div *ngIf="mealSubmitted" class="centered-content">
    <h1>{{ nutrients.summary }}</h1>
    <h3>{{ nutrients.calories }} Calories</h3>
    <div style="display: block">
      <canvas
        baseChart
        class="chart"
        [data]="pieChartData"
        [type]="pieChartType"
        [options]="pieChartOptions"
      >
      </canvas>
    </div>
  </div>
</ion-content>
