.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-color: var(--background);

    img {
        height: 130px;
        margin-bottom: 40px;
    }

    ion-textarea {
        max-width: 300px;
    }
}