<ion-content>
  <div *ngIf="!mealSubmitted" class="centered-content">
    <img src="assets/strawberry.png" alt="Strawberry!" id="logo">
    <ion-item>
      <ion-textarea
        placeholder="What did you eat?"
        [autoGrow]="true"
        [(ngModel)]="meal"
      ></ion-textarea>
      <ion-icon name="arrow-up" slot="end" (click)="submitMeal()"></ion-icon>
    </ion-item>
  </div>

  <div *ngIf="mealSubmitted">
    <h2>Nutrients</h2>
    <div style="display: block">
      <canvas
        baseChart
        class="chart"
        [data]="pieChartData"
        [type]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
      >
      </canvas>
    </div>
  </div>
</ion-content>
