ion-toolbar {
  --background: var(--theme-background);
  --color: var(--theme-text);
  height: 8vh;

  i {
    color: var(--theme-primary);
    font-size: min(5vh, 30px);
    padding: min(1vh, 10px);

    &:hover {
      cursor: pointer;
      color: var(--theme-accent);
    }
  }

  .user-profile-image {
    width: min(6vh, 34px);
    height: min(6vh, 34px);
    margin-right: min(1.5vh, 10px);
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 4px solid var(--theme-primary);

    &:hover {
      border: 4px solid var(--theme-accent);
    }
  }
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  background-color: var(--theme-background);
  padding: 10vw;

  img {
    height: 130px;
    margin-bottom: 40px;
  }

  ion-spinner {
    height: 130px;
    width: 130px;
    margin-bottom: 40px;
    color: #1a2f3a;
    background-color: var(--theme-background);
  }

  ion-item {
    --background: var(--theme-secondary);
    --color: var(--theme-primary);
    --border-radius: 10px;
    --border-color: var(--theme-primary);
    --border-width: 8px;

    ion-textarea {
      max-width: 300px;
      margin-right: 10px;
      --placeholder-color: var(--theme-primary);
      --placeholder-opacity: 1;
    }

    i {
      font-size: 30px;
      color: var(--theme-primary);

      &:hover {
        cursor: pointer;
        color: var(--theme-accent);
        border-radius: 20%;
      }
    }
  }
}
