ion-toolbar {
  --background: var(--theme-background);
  --color: var(--theme-text);
  height: 8vh;

  ion-icon {
    color: var(--theme-primary);
    font-size: 5vh;
    padding: 1vh;

    &:hover {
      cursor: pointer;
    }
  }
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  background-color: var(--theme-background);
  padding: 10vw;
  padding-bottom: 150px;

  img {
    height: 130px;
    margin-bottom: 40px;
  }

  ion-spinner {
    height: 130px;
    width: 130px;
    margin-bottom: 40px;
    color: #1a2f3a;
    background-color: var(--theme-background);
  }

  ion-item {
    --background: var(--theme-secondary);
    --color: var(--theme-primary);
    --border-radius: 10px;
    --border-color: var(--theme-primary);
    --border-width: 2px;

    ion-textarea {
      max-width: 300px;
      margin-bottom: 10px;
    }

    ion-icon {
      font-size: 30px;
      margin-right: 10px;
      color: var(--theme-primary);
      padding: 3px;

      &:hover {
        cursor: pointer;
        color: var(--theme-accent);
        background-color: var(--theme-background);
        border-radius: 20%;
      }
    }
  }
}
