<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <i class="fa-solid fa-circle-info" slot="start" id="open-popover"></i>
      <ion-popover [keepContentsMounted]="true" trigger="open-popover">
        <ng-template>
          <ion-content class="ion-padding">
            Simply describe your meal in as much detail as you'd like, from a
            simple sandwich to an elaborate three-course meal, and macronutrient
            information will be generated for you.
          </ion-content>
        </ng-template>
      </ion-popover>
      <i
        *ngIf="isUserLoggedIn"
        class="fa-solid fa-book"
        slot="end"
        (click)="navigateTo('journal')"
      ></i>
      <i
        *ngIf="!isUserLoggedIn"
        class="fa-solid fa-user"
        slot="end"
        (click)="handleIconClick()"
      ></i>
      <img
        *ngIf="isUserLoggedIn && userProfileImage"
        [src]="userProfileImage"
        alt="User Profile"
        class="user-profile-image"
        (click)="handleIconClick()"
        slot="end"
      />
    </ion-toolbar>
  </ion-header>
  <div class="centered-content">
    <img
      *ngIf="!isLoading"
      src="assets/strawberry.svg"
      alt="Strawberry!"
      id="logo"
    />
    <ion-spinner *ngIf="isLoading" name="circles" slot="end"></ion-spinner>
    <ion-item lines="none">
      <ion-textarea
        placeholder="What did you eat?"
        [autoGrow]="true"
        [(ngModel)]="meal"
        (keydown.enter)="submitMeal($event)"
        [disabled]="isLoading"
      ></ion-textarea>
      <i class="fa-solid fa-circle-up" (click)="submitMeal($event)"></i>
    </ion-item>
  </div>
  <ion-popover
    [isOpen]="showErrorPopover"
    (ionPopoverDidDismiss)="closeErrorPopover()"
  >
    <ng-template>
      <ion-content class="ion-padding">{{ errorMessage }}</ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
