<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon
        name="information-circle-outline"
        slot="start"
        id="open-popover"
      ></ion-icon>
      <ion-popover [keepContentsMounted]="true" trigger="open-popover">
        <ng-template>
          <ion-content class="ion-padding">
            Simply describe your meal in as much detail as you'd like, from a
            simple sandwich to an elaborate three-course meal, and macronutrient
            information will be generated for you.
          </ion-content>
        </ng-template>
      </ion-popover>
      <ion-icon
        *ngIf="!isUserLoggedIn"
        name="person-circle-outline"
        slot="end"
        (click)="handleIconClick()"
      ></ion-icon>

      <img
        *ngIf="isUserLoggedIn && userProfileImage"
        [src]="userProfileImage"
        alt="User Profile"
        class="user-profile-image"
        (click)="handleIconClick()"
        slot="end"
      />
    </ion-toolbar>
  </ion-header>
  <div class="centered-content">
    <img
      *ngIf="!isLoading"
      src="assets/strawberry.png"
      alt="Strawberry!"
      id="logo"
    />
    <ion-spinner *ngIf="isLoading" name="circles" slot="end"></ion-spinner>
    <ion-item>
      <ion-textarea
        placeholder="What did you eat?"
        [autoGrow]="true"
        [(ngModel)]="meal"
        (keydown.enter)="submitMeal($event)"
        [disabled]="isLoading"
      ></ion-textarea>
      <ion-icon
        name="arrow-up"
        slot="end"
        (click)="submitMeal($event)"
      ></ion-icon>
    </ion-item>
  </div>
  <ion-popover
    [isOpen]="showErrorPopover"
    (ionPopoverDidDismiss)="closeErrorPopover()"
  >
    <ng-template>
      <ion-content class="ion-padding">{{ errorMessage }}</ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
