ion-toolbar {
  --background: transparent;
  position: absolute;

  img {
    height: 30px;
    margin: 1vw;

    &:hover {
      cursor: pointer;
    }
  }
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-background);
  padding: 7vw;

  img {
    height: 130px;
    margin-bottom: 40px;
  }

  ion-spinner {
    height: 130px;
    width: 130px;
    margin-bottom: 40px;
    color: #1a2f3a;
    background-color: var(--theme-background);
  }

  h1 {
    color: var(--theme-primary);
    font-weight: bold;
    margin-bottom: 2.5px;
    text-align: center;
  }

  h3 {
    color: var(--theme-primary);
    margin-top: 2.5px;
    margin-bottom: 20px;
  }

  canvas {
    width: min(60vw, 40vh);
  }
}

.legend-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;

  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 5px;

    .color-box {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: 2px solid #030607;
    }

    .label {
      font-size: 14px;
    }
  }
}

ion-item {
  --background: var(--theme-background);
  --border-radius: 10px;
  margin-top: 10px;

  ion-datetime-button::part(native) {
    background: var(--theme-primary);
    color: var(--theme-background);
    border-radius: 10px;
    font-weight: bold;
  }
}

ion-button {
  --background: var(--theme-primary);
  --color: var(--theme-background);
  --border-radius: 10px;
  font-weight: bold;
  margin-top: 17px;
  --box-shadow: none;
}
