<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <img
        src="assets/strawberry.png"
        alt="Home"
        id="logo"
        (click)="navigateTo('')"
      />
    </ion-toolbar>
  </ion-header>
  <div *ngIf="!isLoading && !errorMessage" class="centered-content">
    <h1>{{ nutrients.summary }}</h1>
    <h3>{{ nutrients.calories }} Calories</h3>
    <div style="display: block">
      <canvas
        baseChart
        class="chart"
        [data]="pieChartData"
        [type]="pieChartType"
        [options]="pieChartOptions"
      ></canvas>
    </div>
    <div class="legend-container">
      <div class="legend-item">
        <div class="color-box" style="background-color: #4ca7c8"></div>
        <div class="label">Carbs</div>
      </div>
      <div class="legend-item">
        <div class="color-box" style="background-color: #f3f5eb"></div>
        <div class="label">Fats</div>
      </div>
      <div class="legend-item">
        <div class="color-box" style="background-color: #ff6b6b"></div>
        <div class="label">Proteins</div>
      </div>
    </div>
  </div>
</ion-content>
