<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-icon
        name="information-circle-outline"
        slot="start"
        id="open-popover"
      ></ion-icon>
      <ion-popover [keepContentsMounted]="true" trigger="open-popover">
        <ng-template>
          <ion-content class="ion-padding"
            >Simply describe your meal in as much detail as you'd like, from a
            simple sandwich to an elaborate three-course meal, and macronutrient
            information will be generated for you</ion-content
          >
        </ng-template>
      </ion-popover>
      <ion-icon
        name="logo-github"
        slot="end"
        alt="github"
        (click)="openLink('https://www.github.com/galwort')"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</ion-app>
